@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(14.7% 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(14.7% 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(14.7% 0.004 49.25);
  --primary: oklch(57.7% 0.245 27.325);
  --primary-foreground: oklch(97.1% 0.013 17.38);
  --secondary: oklch(76.9% 0.188 70.08);
  --secondary-foreground: oklch(98.7% 0.022 95.277);
  --muted: oklch(97% 0.001 106.424);
  --muted-foreground: oklch(21.6% 0.006 56.043);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(98.7% 0.022 95.277);
  --destructive: oklch(50.5% 0.213 27.518);
  --border: oklch(92.3% 0.003 48.717);
  --input: oklch(92.3% 0.003 48.717);
  --ring: oklch(57.7% 0.245 27.325);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --radius: var(--radius);
  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-xs--letter-spacing: 0.01em;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-sm--letter-spacing: 0.005em;
  --text-base: 1rem;
  --text-base--line-height: 1.25rem;
  --text-base--letter-spacing: 0em;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5rem;
  --text-lg--letter-spacing: -0.005em;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-xl--letter-spacing: -0.01em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-2xl--letter-spacing: -0.015em;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-3xl--letter-spacing: -0.02em;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.75rem;
  --text-4xl--letter-spacing: -0.025em;
  --text-5xl: 2.75rem;
  --text-5xl--line-height: 3.25rem;
  --text-5xl--letter-spacing: -0.03em;
  --text-6xl: 3.375rem;
  --text-6xl--line-height: 4rem;
  --text-6xl--letter-spacing: -0.035em;
  --text-7xl: 4.125rem;
  --text-7xl--line-height: 4.875rem;
  --text-7xl--letter-spacing: -0.04em;
  --text-8xl: 5rem;
  --text-8xl--line-height: 5.875rem;
  --text-8xl--letter-spacing: -0.045em;
  --text-9xl: 6.125rem;
  --text-9xl--line-height: 7.125rem;
  --text-9xl--letter-spacing: -0.05em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-manrope);
  --radius: var(--radius);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply text-base;
}

.aspect-portrait {
  aspect-ratio: 3 / 4;
}

.-aspect-portrait {
  aspect-ratio: 3 / 2;
}

::selection {
  @apply bg-blue-700 text-blue-50;
}
